.about {
    > * {
        align-self: center;
    }
    &__illustration {
        width: 50%;
    }
    &__text {
        > h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }
        > p {
            font-size: 1.2em;
            line-height: 35px;
        }
    }
}
.events {
    &__logos {
        flex-direction: row;
        flex-wrap: wrap;
        > li {
            width: 45%;
            display: flex;
            margin: 10px;
            > img {
                width: 50%;
                align-self: center;
            }
            &:nth-of-type(2n+1) {
                justify-content: flex-end;
            }
        }
    }
}